body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #352f44; 
  } 

.netflix-logo {
    height: 15rem;
    width: 3rem;
    border-left: 3rem solid #FF00FF;
    border-right: 3rem solid #6643b5; 
}         

.netflix-logo::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: #f5c7f7;
    transform: skewX(21.5deg);
    box-shadow: 0 0 10px black; 
}   